src/Stratis.SmartContracts.RuntimeObserver/FodyWeavers.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <!-- This file was generated by Fody. Manual changes to this file will be lost when your project is rebuilt. -->
  <xs:element name="Weavers">
    <xs:complexType>
      <xs:all>
        <xs:element name="Tracer" minOccurs="0" maxOccurs="1">
          <xs:complexType>
            <xs:choice minOccurs="0" maxOccurs="unbounded">
              <xs:element name="TraceOn">
                <xs:complexType>
                  <xs:annotation>
                    <xs:documentation>Turns the tracing on for the methods defined in the pattern filter. Only valid if legacy filtering is selected.</xs:documentation>
                  </xs:annotation>
                  <xs:attribute name="namespace" type="xs:string">
                    <xs:annotation>
                      <xs:documentation>The namespace used for filtering.</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                  <xs:attribute name="class">
                    <xs:simpleType>
                      <xs:annotation>
                        <xs:documentation>The lowest visibility of the class included in filtering. Classes with lower visibility are not included in tracing.</xs:documentation>
                      </xs:annotation>
                      <xs:restriction base="xs:string">
                        <xs:enumeration value="public" />
                        <xs:enumeration value="internal" />
                        <xs:enumeration value="protected" />
                        <xs:enumeration value="private" />
                        <xs:enumeration value="none" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                  <xs:attribute name="method">
                    <xs:simpleType>
                      <xs:annotation>
                        <xs:documentation>The lowest visibility of the method included in filtering. Methods with lower visibility are not included in tracing.</xs:documentation>
                      </xs:annotation>
                      <xs:restriction base="xs:string">
                        <xs:enumeration value="public" />
                        <xs:enumeration value="internal" />
                        <xs:enumeration value="protected" />
                        <xs:enumeration value="private" />
                        <xs:enumeration value="none" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
              <xs:element name="NoTrace">
                <xs:complexType>
                  <xs:annotation>
                    <xs:documentation>Turns the tracing off for the methods defined in the pattern filter. Only valid if legacy filtering is selected.</xs:documentation>
                  </xs:annotation>
                  <xs:attribute name="pattern" type="xs:string">
                    <xs:annotation>
                      <xs:documentation>The pattern used for filtering.</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
              <xs:element name="On">
                <xs:complexType>
                  <xs:annotation>
                    <xs:documentation>Turns the tracing on for the methods defined in the pattern filter. Only valid if pattern filtering is selected.</xs:documentation>
                  </xs:annotation>
                  <xs:attribute name="pattern" type="xs:string" use="required">
                    <xs:annotation>
                      <xs:documentation>The pattern used for filtering.</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
              <xs:element name="Off">
                <xs:complexType>
                  <xs:annotation>
                    <xs:documentation>Turns the tracing off for the methods defined in the pattern filter. Only valid if pattern filtering is selected.</xs:documentation>
                  </xs:annotation>
                  <xs:attribute name="pattern" type="xs:string" use="required">
                    <xs:annotation>
                      <xs:documentation>The pattern used for filtering.</xs:documentation>
                    </xs:annotation>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
            </xs:choice>
            <xs:attribute name="adapterAssembly" type="xs:string">
              <xs:annotation>
                <xs:documentation>The assembly name of the tracer adapter specific for a given logging framework (e.g. Tracer.Log4Net).</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="logManager" type="xs:string">
              <xs:annotation>
                <xs:documentation>The Log manager adapter class specific for the given logging framework specific Tracer assembly (e.g. Tracer.Log4Net.Adapters.LogManagerAdapter).</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="logger" type="xs:string">
              <xs:annotation>
                <xs:documentation>The Logger adapter class specific for the given logging framework specific Tracer assembly (e.g. Tracer.Log4Net.Adapters.LoggerAdapter).</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="staticLogger" type="xs:string">
              <xs:annotation>
                <xs:documentation>The static Logger class specific for the given logging framework specific Tracer assembly (e.g. Tracer.Log4Net.Log).</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="filter">
              <xs:simpleType>
                <xs:annotation>
                  <xs:documentation>The filtering method used when rewriting methods.</xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:string">
                  <xs:enumeration value="pattern" />
                  <xs:enumeration value="legacy" />
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="traceConstructors" type="xs:boolean">
              <xs:annotation>
                <xs:documentation>Turn on tracing for constructors.</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            <xs:attribute name="traceProperties" type="xs:boolean">
              <xs:annotation>
                <xs:documentation>Turn on tracing for properties.</xs:documentation>
              </xs:annotation>
            </xs:attribute>
          </xs:complexType>
        </xs:element>
      </xs:all>
      <xs:attribute name="VerifyAssembly" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>'true' to run assembly verification (PEVerify) on the target assembly after all weavers have been executed.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="VerifyIgnoreCodes" type="xs:string">
        <xs:annotation>
          <xs:documentation>A comma-separated list of error codes that can be safely ignored in assembly verification.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name="GenerateXsd" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>'false' to turn off automatic generation of the XML Schema file.</xs:documentation>
        </xs:annotation>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
</xs:schema>